<header>
    <div class="wrapper">
        <div className="site-branding">
            <img src="/assets/img/CS_LIGHT.png" alt="Croc Studios logo" width="100">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>