<div class="bg-white dark:bg-gray-800 p-4 shadow-lg rounded-lg w-full h-auto mb-2">
    <h2 class="font-semibold uppercase text-lg text-gray-400 dark:text-gray-300 mb-2">
        My Links
    </h2>
	<ul>
        {% for link in collections.links %}
            <li class="mb-2">
                {% if link.internal %}
                    <a href="{{ link.href  }}" class="text-primary hover:text-primary-light">
                        {{ link.title }}
                    </a>
                {% else %}
                    <a
                        target="_blank"
                        rel="noopener noreferrer"
                        href="{{ link.href  }}"
                        class="text-primary hover:text-primary-light flex flex-row flex-nowrap">
                        {{ link.title }}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
	</ul>
</div>